#accoutPage{
    padding: 30px;
    text-align: center;
    .buttonBox {
        button{
            margin: 20px;
            padding: 10px 180px;
            border: none;
            background-color: #DE1F23;
            color: white;
            border-radius: 5px;
        }
    
    }
}