#languagedetail {
    .top {
      background-image: url("https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg");
      width: 100%;
      height: 450px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
      position: relative;
      opacity: 0.7;
      background-color: #fae4e1;
      .box {
        padding-top: 220px;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 500px;
        text-align: center;
        .bottom {
          h1 {
            color: black;
            font-size: 50px;
            font-weight: bolder;
          }
        }
      }
    }
    .bottom{
        .book {
            .box {
                padding: 15px 10px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
    
                .text {
                    .box1 {
                        display: block;
    
                        &.super {
                            font-family: "DM Sans", sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            transition: 0.3s ease-in-out;
                            margin-top: 10px;
    
                            &:hover {
                                color: #ef4626;
                            }
                        }
                    }
    
                    .sebet {
                        background-color: #FBBC34;
                        color: black;
                        padding: 6px 10px;
                        line-height: 1.2;
                        font-size: 14px;
                        display: inline-block;
                    }
                }
    
                .image {
                    position: relative;
    
                    img {
                        height: 200px;
                        max-width: 100%;
                    }
    
                    .icons {
                        position: absolute;
                        top: 30%;
                        right: 0%;
    
                        .icon {
                            background-color: white;
                            padding: 10px;
                            margin-bottom: 9px;
                            border: 1px solid rgb(214, 213, 213);
                            opacity: 0;
                            visibility: hidden;
                            transform: translateX(30px);
                            transition: 0.3s ease-in-out;
                            color: black;
    
                            &:hover {
                                background-color: #ef4626;
                                color: white;
                            }
                        }
                    }
                }
    
                &:hover {
                    .image {
                        .icons {
                            .icon {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(0px);
                            }
                        }
                    }
                }
            }
        }
    }
}