#footer{
    margin: 10px;
    .top{
        img{
            margin-bottom: 20px;
        }
    }
    .bottom{
        font-size: 15px;
        i{
            padding-right: 10px;
        }
        a{
            text-decoration: none;
            color: #FBBC34;
            font-weight: 600;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
        }
    }

}