#allBook {
    margin-top: 50px;
    input {
        font-size: 14px;
        color: #949494;
        font-family: inherit;
        font-weight: 600;
        background: 0 0;
        border: 3px solid #FBBC34;
        display: inline-block;
        width: 98%;
        outline: none;
        border-radius: 25px;
        padding: 0 40px 0 15px;
        position: relative;
        line-height: 41px;
        height: 41px;
    }

    button {
        border: none;
        background-color: #FBBC34;
        color: black;
        line-height: 1.2;
        width: 98%;
        font-size: 15px;
        margin-top: 10px;
        border-radius: 25px;
        padding: 15px;
    }

    .categories {
        .span {
            font-weight: bolder;
            font-size: 30px;
            font-family: "cursive";
        }

        span {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
            color: #000000;
        }
    }

    .book {
        .box {
            padding: 15px 10px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            .text {
                .box1 {
                    display: block;

                    &.super {
                        font-family: "DM Sans", sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        transition: 0.3s ease-in-out;
                        margin-top: 10px;

                        &:hover {
                            color: #ef4626;
                        }
                    }
                }

                .sebet {
                    background-color: #FBBC34;
                    color: black;
                    padding: 6px 10px;
                    line-height: 1.2;
                    font-size: 14px;
                    display: inline-block;
                }
            }

            .image {
                position: relative;
                img {
                    height: 250px;
                    max-width: 100%;
                }

                .icons {
                    position: absolute;
                    top: 30%;
                    right: 0%;

                    .icon {
                        background-color: white;
                        padding: 10px;
                        margin-bottom: 9px;
                        border: 1px solid rgb(214, 213, 213);
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(30px);
                        transition: 0.3s ease-in-out;
                        color: black;

                        &:hover {
                            background-color: #ef4626;
                            color: white;
                        }
                    }
                }
            }

            &:hover {
                .image {
                    .icons {
                        .icon {
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }
}